@{
	ViewData["Title"] = "NotAuthorized";
}

<br />
<br />

<img class="w-50 col-md-4 offset-3" src="~/images/forbiden.png" />
<h2 style="text-align: center;">You are not authorized to perform this action!!!!.</h2>


